*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    padding: 10px 0;
    background-color: rgb(252, 245, 236);
}

form{
    padding: 10px 0;
    margin: 0 10px;
    font-family: arial;
}

p{
    padding: 10px 0;
    margin: 0 10px;
    font-family: arial;

}

h2{
    margin: 0 10px;
    padding: 5px 0;
}

h1{
    margin: 0 10px;
    padding: 5px 0;
}

input{
    margin: 10px 0;
    padding: 5px 5px;
    border-radius:5px ;
    border:2px ,solid,black ;

}
textarea{
    border-radius:5px ;
    border:2px ,solid,black ;

}

footer{
    bottom: 0px;
    padding:5px 0;
    width: 100%;
    background-color: rgb(252, 245, 236);
}

.bu{
   
    background-color: rgb(248, 235, 218);
}